@use 'variables' as var;

.contact__container {
  display: flex;
  flex-flow: row wrap;
}

.contact__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 22px;
}

.contact__input {
  width: 250px;
  height: 25px;
  margin: 7px;
  padding: 5px;
  border-radius: 5px;
}

.contact__input--bewertung {
  height: 200px;
  width: 250px;
  margin: 7px;
  padding: 5px;
  border-radius: 5px;
}

.contact__input--button {
  width: 150px;
  height: 25px;
  margin: 7px;
  border-radius: 5px;
}

.contact__input--button:hover {
  background-color: var.$mo5;
  color: var.$mo1;
  transition: all 1s;
}

.contact__adress {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: var.$mo6;
  color: var.$mo1;
}

.contact__adress--map {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact__adress--map-block {
  min-width: 300px;
  max-width: 400px;
  max-height: 200px;
  padding-top: 7px;
  margin: 7px;
}

.contact__impressum {
  padding: 22px;
}
