@use 'variables' as var;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.new-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.aside-logo {
  display: flex;
  position: fixed;
  justify-self: left;
  background-color: var.$mo6;
  width: 60px;
  left: 0;
  top: 50px;
  bottom: 0;
}

.aside-logo-text {
  display: flex;
  transform: rotate(270deg);
  align-self: flex-end;
  width: 70px;
  margin-bottom: 70px;
}

.aside-logo-text-svg {
  fill: red;
}

.item {
  max-width: 450px;
  margin-top: 40px;
  margin-left: 60px;
}

.item__img {
  width: 100%;
}
