@use './variables' as var;

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100vw;
  margin-bottom: 50px;
  background-color: black;
}

.socialmedia-icon {
  width: 40%;
  max-height: 80%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
